@page "/"
@using _1erParcial_JonathanMaria.Controllers;
@using _1erParcial_JonathanMaria.Data;

<h1>Hello, world!</h1>

Welcome to your new app.

@code{

    public Articulos Articulo { get; set; }
    public string Mensaje { get; set; }

    protected override void OnInitialized()
    {
        this.Articulo = new Articulos();
        this.Mensaje = string.Empty;
    }

    public void Guardar()
    {
        ArticulosController Ac = new ArticulosController();
        try
        {

            if (Articulo.ArticuloId == 0)
            {

                if (Ac.Guardar(Articulo))
                {

                    Mensaje = "El articulo se guardado con exito!...";
                }
                else
                {

                    Mensaje = "No fue posible guardar el articulo!...";
                }

            }
            else
            {

                if(Ac.Buscar(Articulo.ArticuloId) != null)
                {

                    if (Ac.Modificar(Articulo))
                    {

                        Mensaje = "El articulo se modifico con exito!...";
                    }
                    else
                    {

                        Mensaje = "No fue posible modificar el articulo!...";
                    }
                }
                else
                {

                    Mensaje = "Este articulo no existe, por ende, no pudo ser modificado!..";
                }
            }
        }
        catch (Exception)
        {

            throw;
        }
    }
}